@font-face {
  font-family: 'FiraCode Bold';
  src: local('FiraCode Bold'), url('../fonts/FiraCode-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraCode Regular';
  src: local('FiraCode Regular'), url('../fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraCode Light';
  src: local('FiraCode Light'), url('../fonts/FiraCode-Light.ttf') format('truetype');
}

html {
  position: relative;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background: #232323;
  color: #d9d9d9;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: 'FiraCode Bold'
}

#root {
  width: 100%
}

code {
  width: 100%
}